body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #fff;
}

/*обнуление заголовков и параграфов*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


img {
  display: block;
  /*картинки - блочные элементы*/
}

.container {
  /*параметры контейнера*/
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts {
  margin-left: auto;
}

.header-logo {
  margin-right: 76px;
  padding: 24px 0;
}

.header-nav {
  display: flex;
  align-items: center;
}

.page-header {
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav-link {
  display: block;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.active {
  color: #404bbf;
}

.nav-link.active::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.contacts {
  font-style: normal;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;

  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.main-banner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;

  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.main-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;

  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;

  display: block;
  margin: 0 auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


button:hover,
button:focus {
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #404bbf;
}

.benefit-section {
  padding: 120px 0;
}

.benefit-item {
  flex-basis: calc((100% - 72px) / 4);
  list-style: none;
  margin: 0;
  padding: 0;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}

.header-container {
  display: flex;
  align-items: center;
}

.benefit-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 24px;
}

.benefit-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.benefit-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.benefit-title,
.benefit-text {
  margin-left: 0;
  padding-left: 0;
  text-align: left;
}

.benefit-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.benefit-heading,
.benefit-text {
  text-align: left;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-section {
  background-color: #F4F4FD;
  padding: 120px 0;
}

.team-card {
  background-color: #FFFFFF;
  border-radius: 0 0 4px 4px;
  flex-basis: calc((100% - 72px) / 4);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);

}

.team-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color, #4d5ae5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #31d0aa;
}

.social-icon {
  fill: var(--icon-color, #f4f4fd);
  width: 16px;
  height: 16px;
}

.team-card-content {
  padding: 32px 0;
}

.portfolio-section {
  padding: 120px 0;
  background-color: #FFFFFF;
}

.portfolio-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  background-color: #FFFFFF;
  border: 1px solid #E7E9FC;
  border-radius: 4px;
  padding-bottom: 32px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-image-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  /* делает overlay слоем поверх картинки */
  top: 0;
  /* прижимает к верхнему краю контейнера */
  left: 0;
  /* прижимает к левому краю контейнера */
  width: 100%;
  /* растягивает overlay на всю ширину */
  height: 100%;
  /* растягивает overlay на всю высоту */
  background-color: rgba(77, 90, 229, 0.8);
  /* полупрозрачный фон */
  color: var(--icon-color, #f4f4fd);
  /* цвет текста */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  /*opacity: 0; /* скрыт по умолчанию */
  transform: translateY(100%);
  /*transition: opacity 250ms ease-in-out;/* плавное появление */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 0;
  margin-bottom: 0; /*перекрывает глабальные настройки для р, для полного перекрытия картинки*/
}

.portfolio-image-wrapper:hover .portfolio-overlay {
  transform: translateY(0%);
  /*opacity: 1; /* overlay становится видимым */
}


h2 {
  color: #2E2F42;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin: 32px 0 16px 8px;
}

p {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-left: 16px;
  margin-bottom: 32px;
}

.footer-container {
  width: 1158px;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
}

.footer-info {
  margin-right: 120px;
}

.page-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;

}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #F4F4FD;
  max-width: 264px;
  margin-left: 0;
}

.footer-logo {
  font-size: 18px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-web {
  color: #4D5AE5;
  text-transform: uppercase;
}

.logo-part {
  color: #F4F4FD;
}

.social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white, #FFFFFF);
  margin-bottom: 16px;
}